---
layout: page
title: "About"
description: "Hi, My name is YoungJoo."
header-img: "img/home-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0" selected> Korean </option>
    <option value="1"> English </option>
</select>

<!-- Korean Version -->
<div class="zh post-container">
    
<h1>이영주</h1>
- 선린인터넷고등학교 IoT 동아리 Nefus 14기 부장<br>
- KITRI 차세대 보안리더 양성 프로그램 (Best of the Best) 취약점 분석 트랙 6기<br>
- IoT 관련된 보안으로 시작하여 현재는 Binary Exploit을 중점으로 공부중<br>
- 해킹팀 Codered소속으로 해외 해킹방어대회(CTF) 참가<br>

<h1>수상실적</h1>
- 2016 (ibm, microsoft, cisco 주관) IoT Security Hackathon 우수상<br>
- 2016 스마트그리드 보안 해커톤 최우수상 (2위)<br>
- 2016 고려대 소프트웨어보안 국제공동연구센터(CSSA)주관 IoT Security Challenge 종합우승 (1위)<br>
- 2017 코드게이트 주니어 컨퍼런스 인기 발표자상<br>
- 2017 순천향대학교 정보보호 페스티벌 장려상<br>
- 2017 Ubuntu X 국민대 Junior CTF 최우수상 (2위)<br>
- 2017 정보보호 동아리연합 Incognito CTF 2위<br>
- 2017 ROOT CTF(디지텍 고등학교 해킹방어대회) 1위<br>
- 2017 크리스마스 CTF 1위 (Leaveret 주관)<br>
- 2018 육군 해킹방어대회 은상<br>
- 2018 Codegate Junior CTF (국제 주니어 해킹 방어대회) 2위<br>
- 2018 Codegate Junior Conference 우수 발표자상<br>

<h1>프로젝트</h1>
- 2016 바코드 해킹 프로젝트 - 개인<br>
- 2017 평창 동계올림픽 사이트 모의해킹 프로젝트 (약 2주) - 팀 (3인)<br>
- 2017 NQVM 취약점 진단 및 Kisa 보고 - 개인<br>
- 2017 AnySupport 취약점 진단 및  Kisa 보고 - 개인<br>
- 2017 HelpU 취약점 진단 및 Kisa 보고 - 개인<br>
- 2018 Seetrol 취약점 진단 및 모의해킹 프로젝트 (1개월) - 팀 (5인)<br>
- 2018 Heap Exploitation for Thread Local Caching (glibc 2.23) - 개인<br>

<h1>발표</h1>
- 2016 선린인터넷고등학교 학과 발표 / 주제 : 스마트 그리드 보안<br>
- 2017 Codegate Junior Conference / 주제 : 바코드 해킹<br>
- 2017 H4C Hacking Camp / 주제 : Return to dl_resolve<br>
- 2018 POC Hacking Camp / 주제 : Network Protocol Fuzzing<br>
- 2018 Codegate Junior Conference / 주제 : Meltdown and Spectre<br>
- 2018 KYSIS X NEWSECU 비내리는 호남선 세미나 / 주제 : Heap Exploitation for Thread Local Caching<br>


    
</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Designer or Engineer, things in between.
    </blockquote>

    <p>
        Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it.
    </p>

    <p>
    If you want to live your life in a creative way, as an artist, you have to not look back too much. You have to be willing to take whatever you’ve done and whoever you were and throw them away.
    </p>

    <p style="text-align:right;">
    -- Steve Jobs
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(0);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    {% if site.duoshuo_username == "huxblog" %}
        data-thread-id="1187623191091085319"
    {% else %}
        data-thread-key="{{site.duoshuo_username}}/about"
    {% endif %}

    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
